body {
    background-color: white;
    color: #333333;
    font-family: Georgia, Garamond, serif;
    font-size: 14pt;
}

img {
    border-radius: 50%;
}

h1, h2, h3 {
    background-color: #336699;
    color: #ffffff;
    font-family: "Century Gothic", Futura, Verdana, sans-serif;
    text-decoration: underline;
}

h1 {
    text-align: center;
    font-size: 28pt;
    font-weight: bold;
}

a {
    color: #336699; 
}